
  <section class="login" >
    <div class="container" id="bad">
      <h3 class="text-white text-center p-4 mb-4 fw-bold">Login</h3>
      <form novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="form-outline mb-2">
          <label class="form-label text-white fw-bold">Email/Username</label>
          <input type="text" class="form-control" placeholder="Enter your email" formControlName="email" >
          <span class="helper-text text-white" data-error="wrong" data-success="right">* Email is required</span>
        </div>
        <div class="form-outline mb-4">
          
          <label class="form-label text-white fw-bold">Password</label>
          <input type={{password}} class="form-control" placeholder="Enter your password" formControlName="password"  >
          <span (click)="onClick()">
            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i></span>
          <span class="helper-text text-white" data-error="wrong" data-success="right">Show Password</span>
        </div>
        <div class="buttons mb-4">
          <input class="btn btn-danger sign-in" [disabled]="!formLogin.valid" type="submit" value="Login" routerLink="/home">
          <p class="text-white text-center text-uppercase fw-bold">Or</p>
          <button class="btn btn-warning fw-bold" >Login With  <i class="fab fa-google ms-1"></i> </button>
        </div>
        <div class="register">
          <a class="btn btn-primary d-flex justify-content-center register" routerLink="/register">Create account</a>
        </div>
      </form>
  </div>
</section>




